:root {
  /* CORES */
  --azul-padrao: #3772FF;
  --branco: white;
  --cinza: #F7F7F7;
  --coral: #FC7071;
  --creme: #FCF0E3;
  --verde: #36D6AD;

  /* TIPOGRAFIA */
  --chamada-titulo: 500 26px/48px 'IBM Plex Sans', serif;

  --chamada-titulo-2: 500 28px/48px 'Poppins', serif;

  --paragrafo: 400 16px/24px 'Poppins', serif;

  --botao: 600 16px/24px 'Poppins',serif;

  --input-cadastro: 400 12px/16px 'Poppins', serif;

  --input-cadastro: 400 14px/24px 'Poppins', serif;

  --label-cadastro-minus: 400 16px/24px 'Poppins', serif;

  --label-cadastro: 600 16px/24px 'Poppins', serif;
}