@import url(_variaveis.css);
@import url(../componentes/chamada.css);

body {
  background-image: url(../../img/Forma_1_360px.svg);
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    background-image: url(../../img/Forma_1_768px.svg);
    background-repeat: no-repeat;
  }
}
