main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo__container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
}

.corpo__splash {
  position: absolute;
  z-index: -1;
  right: 0%;
  top: 12.5rem;
}

.fundo__inicial {
  background: var(--azul-padrao);
  height: 100%;
}

.logo__container {
  display: flex;
  justify-content: center;

}

.chamada__container {
  color: var(--branco);
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 70%;
}

.chamada__titulo {
  font: var(--chamada-titulo);
  height: 3rem;
  margin: 1rem 0;
}

.chamada__texto {
  font: var(--paragrafo);
  height: 72px;
  margin-bottom: 0.5rem;
}

.ilustracao__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ilustracao__1 {
  margin-bottom: -1rem;
  margin-right: 20%;
}