.splash__patas {
  position: absolute;
  right: 0;
}

main {
  background-image: url(../img/Forma\ 2.svg);
  background-repeat: no-repeat;
  background-position: left bottom 2rem;
}

.chamada__container {
  color: var(--azul-padrao);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.label__cadastro {
  color: #737380;
  font: var(--label-cadastro);
  margin-top: 1.25rem;
}
