.cabecalho {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cabecalho__icones {
  height: 120px;
  display: flex;
  align-items: center;
  left: 0;
}

.icone__cabecalho {
  margin-right: 10px;
  margin-left: 48px;
}

.cabecalho__splash {
  position: absolute;
  z-index: -1;
}