
.cabecalho {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cabecalho__patas {
  background-image: url(../../img/Patas.svg);
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 5rem;
  margin-bottom: -5rem;
}

.cabecalho__icones {
  height: 120px;
  display: flex;
  align-items: center;
  left: 0;
}

.icone__cabecalho {
  margin-right: 10px;
  margin-left: 48px;
}

.cabecalho__splash {
  position: absolute;
  z-index: -1;
}