.cabecalho {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

.cabecalho__icones {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}

.cabecalho__splash {
  position: absolute;
  z-index: -1;
}