.formulario__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formulario__titulo {
  font: 600 21px/24px 'Poppins', serif;
  margin-bottom: 1rem;
  color: #737380;
}

.label__cadastro {
  color: #737380;
  font: var(--label-cadastro);

}

.label__mensagem {
  color: var(--azul-padrao);
  font: var(--label-cadastro);

}

input {
  display: flex;
  height: 2.5rem;
  margin-top: 0.25rem;
  border-style: none;
  border-radius: .5rem;
  text-align: center;
  color: #737380;
}

input::placeholder {
  color: #BCBCBC;
  font: var(--input-cadastro);
}

.input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.5rem;
  flex-wrap: wrap;
}

.input_cadastro {
  background-color: var(--cinza);
  box-shadow: 0 2px 2px #00000015;
  color: #BCBCBC;
  font: var(--input-cadastro);
  width: 100%;
}

.input__mensagem {
  display: flex;
  text-align: left;
  box-shadow: 0 2px 2px #00000015;
  font: var(--input-cadastro);
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.input__mensagem::placeholder {
  color: #BCBCBC;
  font: var(--input-cadastro);
}

.input__campo__mensagem {
  box-sizing: border-box;
  height: 10rem;
}

textarea {
  display: flex;
  height: 2.5rem;
  margin-top: 0.25rem;
  border-style: none;
  border-radius: .5rem;
  text-align: center;
  padding-top: 1rem;
}

.toggle__senha {
  margin-top: -2.5rem;
  padding-left: 85%;
}

.recuperar__senha {
  margin-top: .5rem;
  font: var(--input-cadastro);
  color: var(--coral);
  text-decoration: underline;
}

@media (min-width: 768px) {

  .label__cadastro {
    font-size: 18px;
  }

  input {
    margin-top: .5rem;
  }

  .input__mensagem {
    height: 3rem;
  }

  .label__cadastro {
    font-size: 18px;
    margin-top: 1.5rem;
  }

  .input__campo__mensagem {
    box-sizing: border-box;
    height: 6.5rem;
  }

  .formulario_tipo_1 div:first-child{
    order: 2;
  }

  .formulario_tipo_1 div:nth-child(2){
    order: 1;
  }

  .formulario_tipo_1 div:nth-child(3){
    order: 3;
  }

  .formulario_tipo_1 div:nth-child(4){
    order: 4;
  }
}

@media (min-width:1440px) {

  .input__campo__mensagem {
    height: 10.75rem;
  }

  .input__login__email {
    width: 34.5rem;
  }

  .input__login__senha {
    width: 22.625rem;
  }

  .formulario_tipo_1 div:first-child{
    width: 34.5rem;
  }

  .formulario_tipo_1 div:nth-child(2){
    width: 34.5rem;
  }

  .formulario_tipo_1 div:nth-child(3){
    width: 22.625rem;
  }

  .formulario_tipo_1 div:nth-child(4){
    width: 22.625rem;
  }
}