footer {
  width: 100%;
  bottom: 0;
}

.rodape {
  background-color: var(--verde);
  color: var(--branco);
  font: var(--paragrafo);
  
  height: 104px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (width:1440px) {

  .rodape {
  height: 5.5rem;
  }
}