.rodape {
  background-color: var(--verde);
  color: var(--branco);
  font: var(--paragrafo);
  position: relative;
  
  height: 104px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  bottom: 0;
}